<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <title>EduSphere</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script>
      (()=>{
        window.history.forward();
      })();
    </script>
    
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    <style>
      .customHover:hover{
        color:white;
      }
    </style>

  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <%- include('./adminSideBar.ejs')%>

    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
      
        <div class="container-fluid">
          <div class="d-flex align-items-center">
            <div class="site-logo mr-auto"><a href="index.html">EduSphere</a></div>
            <%-include('./adminHomeHeader.js')%>
          </div>
        </div>
        
      </header>
  

    <div class="site-section" id="programs-section" style="margin-top: -1px;">
      <br>
        <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-lg-12 text-center"  data-aos="fade-up" data-aos-delay="">
            <br>
            <h4 class="text-black">Course List</h4>
            <br>
            <span style="color:green"><%=message%></span>
            <table class="table" style="font-size: 12px;color:black;">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">CourseId</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Fees</th>
                    <th scope="col" colspan="2">Action</th>
                    <th scope="col">Detailed Syllabus</th>
                </tr>
                </thead>
                <tbody>
                  <%courseList.forEach((course,index)=>{%>
                      <tr>
                        <td><%=(index+1)%></td>
                        <td><%=course.courseId%></td>
                        <td><%=course.courseName%></td>
                        <td><%=course.courseType%></td>
                        <td><%=course.courseDuration%></td>
                        <td><%=course.courseFees%></td>
                        <td>
                          <form action="/admin/adminUpdateCourse">
                            <input type="hidden" value="<%=course.courseId%>" name="courseId" id="courseId">
                            <button class="btn btn-outline-primary p-1">Update</button>
                          </form>
                        </td>
                        <td>
                          <form action="/admin/adminDeleteCourse">
                            <input type="hidden" value="<%=course.courseId%>" name="courseId" id="courseId">
                            <button class="btn btn-outline-primary p-1">Delete</button>
                          </form>
                        </td>
                        <td><a class="btn btn-outline-success py-1 px-2 customHover" href="/admin/adminAddDetailedSyllabus?course=<%=JSON.stringify(course)%>">Add</a></td>
                      </tr>
                  <%})%>
                </tbody>
              </table>

          </div>
        </div>
      

      </div>
    </div>
    <%- include('./footerSection.ejs')%>
  </div> <!-- .site-wrap -->

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>

  
  <script src="js/main.js"></script>
    
  </body>
</html>