<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <title>EduSphere</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    <!-- blog style starts -->
    <style>
        .blog-card {
            border: 1px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
            padding: 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            background: #f9f9f9;
        }
        .blog-image {
            width: 40%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
        }
        .blog-content {
            padding-left: 20px;
            width: 60%;
        }
    </style>

     <!-- blog style ends -->
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <%-include('./homeHeaderSideBar.ejs')%>
        </div>


        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <div class="site-logo mr-auto w-20"><a href="index.html">EduSphere</a></div>
                    <%-include('./homeHeader.ejs')%>
                </div>
            </div>

        </header>

        <div class="text-black site-section" id="teachers-section" style="margin-top: -1px;">
            <div class="container">
                <br>
                <!-- <div class="row justify-content-center">
                    <div class="col-lg-7 mb-5 text-center" data-aos="fade-up" data-aos-delay="">
                        <br><br>
                        <h4 class="text-black">Blog</h4>
                    </div>
                </div> -->
        
                <!-- Blog Section -->
               
                <div class="row" data-aos="fade-up" data-aos-delay="">
                    <!-- Blog Post -->
                    <div class="col-md-12">
                        <div class="d-flex flex-column justify-content-center p-3 mb-4 shadow-sm vh-100 overflow-auto w-100">
                            <div class="blog-content pl-3 col-md-12 w-100">
                                <h5><%=blogObject.blogTitle%></h5>
                                <span class="small"><b>Uploaded On:</b> <%=blogObject.uploadDate%> | <%=blogObject.uploadTime%></span> <br>
                                <span class="small"><b>Read Time:</b> <%=blogObject.timeToRead%></span> <br>
                                <!-- <img src="/blogImages/<%=blogObject.blogFile%>" class="blog-image w-100 h-auto" alt="Tech Blog"> -->
                                <img src="<%=blogObject.blogFile%>" class="blog-image w-100 h-auto" alt="Tech Blog">
                                <p class="blog-text w-100" style="text-align: justify;">
                                    <span style="white-space: pre-line;">
                                        <%=blogObject.blogContent%>
                                    </span><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./footerSection.ejs')%>
    </div> <!-- .site-wrap -->
    <!-- Owl Carousel and jQuery Script -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script>
        $(document).ready(function () {
            const $carousel = $('.owl-carousel');

            $carousel.owlCarousel({
                items: 2,
                loop: true,
                margin: 20,
                autoplay: true,
                autoplayTimeout: 5000,
                nav: false,
                dots: false,
                responsive: {
                    0: { items: 1 },
                    768: { items: 2 }
                }
            });

            // Custom navigation buttons
            $('.customPrevBtn').click(function () {
                $carousel.trigger('prev.owl.carousel');
            });

            $('.customNextBtn').click(function () {
                $carousel.trigger('next.owl.carousel');
            });
        });
    </script>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>


    <script src="js/main.js"></script>
           <!-- Read More/Read Less Script starts -->
           <script>
            document.querySelectorAll('.toggle-btn').forEach(button => {
                button.addEventListener('click', function () {
                    let blogText = this.previousElementSibling;
                    let shortText = blogText.querySelector('.short-text');
                    let fullText = blogText.querySelector('.full-text');
        
                    if (fullText.classList.contains('d-none')) {
                        fullText.classList.remove('d-none');
                        shortText.classList.add('d-none');
                        this.textContent = "Read Less";
                    } else {
                        fullText.classList.add('d-none');
                        shortText.classList.remove('d-none');
                        this.textContent = "Read More";
                    }
                });
            });
        </script>
           <!-- Read More/Read Less Script ends -->
         
</body>

</html>